.email {
  margin-top: 174px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/email-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 45px;
  span {
    display: none;
  }

&__wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  width: 300px;
}

&__title {
  margin: 0;
  margin: 0 auto;
  width: 210px;
  font-family: "Circe Extra-Bold", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.23px;
  line-height: 42px;
  margin-bottom: 18px;
}

&__text {
  margin: 0 auto;
  width: 240px;
  margin-bottom: 39px;
  font-size: 19px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.15px;
  }
}
  @media (min-width: 768px) {
    .email {
      height: 345px;
      background-image: url('../img/email-tablet.jpg');
      &__wrapper {
        padding-left: 15px;
        padding-right: 15px;
        width: 630px;
      }
      &__title {
        font-family: "Circe Extra-Bold", "Arial", sans-serif;
        font-size: 25px;
        line-height: 22px;
        font-weight: 900;
      }

      &__text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        }
    }
  }


  @media (min-width: 1200px) {
    .email {
      margin-top: 140px;
      height: 385px;
      background-image: url('../img/email.jpg');
      .email__wrapper {
        padding-left: 20px;
        padding-right: 20px;
        width: 1060px;
      }
      &__title {
        width: 540px;
        margin-top: 26px;
        margin-bottom: 50px;
        font-family: "Circe Extra-Bold", "Arial", sans-serif;
        font-size: 37px;
        font-weight: 900;
        letter-spacing: 0.23px;
        line-height: 34px;
      }

      &__text {
        width: 845px;
        margin: 0 auto;
        margin-top: 71px;
        margin-bottom: 62px;
        font-size: 22px;
        font-weight: 300;
        line-height: 36px;
        letter-spacing: .15px;
        span {
          display: block;
        }
        }
    }
  }
