.logo {
  position: relative;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  float: left;
  margin-top: 23px;
}

.clearfix {
  clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 768px) {
  .logo {
    margin-top: 31px;
  }
}

@media (min-width: 1400px) {
  .logo {
    margin-top: 41px;
    &:hover:after {
      position: absolute;
      display: block;
      content: "";
      width: 100px;
      height: 35px;
      top: 2px;
      left: 4px;
      background-image: url('../img/logo-hover.png');
      background-repeat: no-repeat;
    }
  }
}
